/* ---------this is to prevent iphone from resizing on a landscape mode---------- */
html {-webkit-text-size-adjust: none;} 

/*------- to apply natural box layout model to all elements--------- */

* {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}

/* ---------script to help old ie understand html5 and media query--------- */



     /* ------- body--------- */
body {
    font-size: 16px;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
}
 
 /*-------- header----------- */
#headerwrapper{
    background-color: blueviolet;
    
}

header{
    padding: 1em 2% .5em 2%; 
}

header h1{
    font-size: 2.1em;
    color:#fff;
}

header h2{
    font-size: .9em;
    font-weight: 300;
    margin-top: .75em;
    color: #ddd;
} /*----- header ends here------*/



/* ----------Navigation starts here------- */

#navwrapper{background-color: #e61b10;}

nav {
    padding: .3em 0;
}

nav ul{
    display: none;
}

nav select{
     display: block; 
     margin: 0 2%;
    width: 96%; 
}










    /* --------footer------------ */

#footerwrapper {background-color: #979791;}

footer{
    clear: both;
    font-size: .7em;
    color: #fff;
    text-align: center;
    padding: .6em;
}

   /* ---------Other Stuff------------- */
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}





